BasedOnStyle: LLVM

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: "^\""
    Priority: 0
  - Regex: "^<pfr-orm/"
    CaseSensitive: true
    Priority: 1
  - Regex: "^<(fmt/|boost/|libpq-fe\\.h>)"
    CaseSensitive: true
    Priority: 3
  - Regex: "^<"
    Priority: 2

ForEachMacros: []
