BasedOnStyle: LLVM

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: "^\""
    Priority: 0
  - Regex: "^<podrm/"
    CaseSensitive: true
    Priority: 1
  - Regex: "^<(fmt/|boost/|libpq-fe\\.h|sqlite3\\.h>)"
    CaseSensitive: true
    Priority: 3
  - Regex: "^<"
    Priority: 2

ForEachMacros: []
